.container {
	height: 100%;
	width: 100vw;
	background: white;
	background: #e5e5e5;

	&__image {
		width: 100%;
		height: 250px;
		background-image: url('https://res.cloudinary.com/xand6r/image/upload/v1604961781/speakspire/speakspire_user_ojnefq.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__user {
		width: 70%;
		height: 180px;
		background: white;
		border-radius: 5px;
		margin: -40px auto 20px auto;
		display: flex;
		padding: 20px 50px;
		position: relative;

		&__update {
			position: absolute;
			top: 10px;
			right: 10px;

			&__icon {
				font-size: 24px;
				cursor: pointer;

				&__container {
					color: #767e9f;
					height: 35px;
					width: 35px;
					padding: 5px;
					border-radius: 5px;

					&:hover {
						background: #e5e5e5;
					}
				}
			}

			&__modal {
				&__header {
					font-size: 18px;
					color: #767e9f;
					margin-bottom: 0px;
					text-align: center;
					justify-content: center;
				}

				&__form {
					margin-top: 20px;
					width: 100%;

					&__item {
						display: block;
						margin-bottom: 20px;

						&__label {
							color: #162359;
							font-size: 14px;
							line-height: 18px;
							margin-bottom: 5px;
						}

						&__input {
							color: #162359;
							height: 45px;
							width: 100%;
							border: 1px solid #cdd1de;
							box-sizing: border-box;
							border-radius: 5px;
							background: #f7f8fc;
							font-weight: 500;
							font-size: 16px;
							line-height: 18px;
							color: #162359;
							transition: 0.3s;
							padding: 20px;

							&::placeholder {
								color: #767e9f;
								box-sizing: border-box;
								transition: margin 0.5s ease-out;
								font-size: 14px;
								line-height: 15px;
								margin-bottom: 17px;
								text-align: justify;
							}

							&:-ms-input-placeholder {
								color: #767e9f;
								box-sizing: border-box;
								transition: margin 0.5s ease-out;
								font-size: 14px;
								line-height: 15px;
								margin-bottom: 17px;
								text-align: justify;
							}

							&::-ms-input-placeholder {
								color: #767e9f;
								box-sizing: border-box;
								transition: margin 0.5s ease-out;
								font-size: 14px;
								line-height: 15px;
								margin-bottom: 17px;
								text-align: justify;
							}
						}

						&__select {
							color: #162359;
							height: 45px;
							width: 100%;
							border: 1px solid #cdd1de;
							box-sizing: border-box;
							border-radius: 5px;
							background: #f7f8fc;
							font-weight: 500;
							font-size: 16px;
							line-height: 18px;
							color: #162359;
							transition: 0.3s;
							padding: 10px;

							&::placeholder {
								color: #767e9f;
								box-sizing: border-box;
								transition: margin 0.5s ease-out;
								font-size: 14px;
								line-height: 15px;
								margin-bottom: 17px;
								text-align: justify;
							}

							&:-ms-input-placeholder {
								color: #767e9f;
								box-sizing: border-box;
								transition: margin 0.5s ease-out;
								font-size: 14px;
								line-height: 15px;
								margin-bottom: 17px;
								text-align: justify;
							}

							&::-ms-input-placeholder {
								color: #767e9f;
								box-sizing: border-box;
								transition: margin 0.5s ease-out;
								font-size: 14px;
								line-height: 15px;
								margin-bottom: 17px;
								text-align: justify;
							}
						}
					}

					&__button {
						width: 120px;
						height: 40px;
						margin: auto;
						margin-top: 35px;
						display: flex;
						justify-content: center;
						align-items: center;
						background: #4d75f4;
						border-radius: 5px;
						color: white;
						cursor: pointer;
						font-size: 15px;
						border: 1px solid #4d75f4;

						&:hover {
							color: white;
							background: #4d75f4;
							border: 1px solid #4d75f4;
						}

						&:focus {
							color: white;
							background: #4d75f4;
							border: 1px solid #4d75f4;
						}

						&:active {
							color: white;
							background: #4d75f4;
							border: 1px solid #4d75f4;
						}
					}
				}
			}
		}

		&__image {
			margin-top: 20px;
		}

		&__details {
			margin-left: 60px;
			&__item {
				margin-bottom: 10px;
				color: #767e9f;
				font-size: 14px;

				span {
					font-weight: 600;
					font-size: 16px;
					color: #162359;
					margin-left: 5px;
				}
			}
		}
	}

	&__projects {
		width: 70%;
		height: 300px;
		overflow-y: auto;
		background: white;
		border-radius: 5px;
		margin: 20px auto;
		padding: 20px 50px;
		position: relative;

		&__header {
			color: #162359;
			font-weight: 600;
			font-size: 16px;
		}

		&__container {
			margin-top: 0px;

			&__item {
				box-shadow: 0 2px 3px rgba(22, 35, 89, 0.08);
				padding: 10px 20px;
				border: 1px solid #e5e5e5;
				border-radius: 10px;
				margin-bottom: 20px;

				&__text {
					margin-bottom: 5px;
					color: #767e9f;
					font-size: 14px;

					span {
						font-weight: 600;
						font-size: 16px;
						color: #162359;
						margin-left: 5px;
					}
				}

				&__button {
					background: red;
					border: 1px solid red;
					color: white;
					cursor: pointer;
					padding: 10px;
					width: 120px;
					height: 40px;
					font-size: 16px;
					justify-content: center;
					align-items: center;
					text-align: center;
					display: flex;
					border-radius: 5px;
					margin: 20px 0;

					&__icon {
						margin-left: 10px;
					}
				}
			}
		}
	}
}
