.container {
	height: 70px;
	background: white;
	box-shadow: 0 2px 3px rgba(22, 35, 89, 0.08);
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	&__location {
		font-size: 18px;
		color: #767e9f;
		text-align: center;
		justify-content: center;
		margin-top: 0px;
	}

	&__dropdown {
		display: flex;
		margin-top: 15px;
		cursor: pointer;

		&__user {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			img {
				width: 100%;
			}
		}

		&__down {
			margin-left: 10px;
			margin-top: -10px;

			&__icon {
				margin-top: -30px;
			}
		}

		&__menu {
			margin-top: -10px;

			&__item {
				width: 150px;
				color: #162359;
				padding: 5px 0;

				span {
					font-size: 14px;
					margin-left: 10px;
					font-weight: 600;
				}

				&:hover {
					color: #4d75f4;
				}
			}
		}
	}
}
